.cardd {
  width: 250px;
  /* background: rgb(182, 181, 181); */
}

.card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;

  height: 200px;
  color: #fff;
  cursor: pointer;
}

.card-body{
  background: rgb(247, 238, 238);
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: rgb(249, 245, 245);
}

.card-bottom {
  margin: 10px 20px;
}
